<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booky Book Shop</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <!-- <div>
            <div class="logo"><img src="" alt=""></div>
            <div>
                <a href="">Sign in</a>
                <a href="">log in</a>
            </div>
            <div>
                <form action="">
                    <input type="search" name="" id="" placeholder="Search all books...">
                    <button type="submit">Search</button>
                </form>
                <a href="/cart">
                    <span>Cart</span>
                </a>
            </div> -->
<!--           
        </div>
        <nav>
            <ul>
                <li><a href="#">ALL BOOKS</a></li>
                <li><a href="#">CATEGORIES</a>
                    <!-- <ul>
                        <li><a href="#">Self help</a> </li>
                    </ul>
                    <ul>
                        <li><a href="#">Novels</a></li>
                    </ul> -->
                <!-- </li>
                <li>
                    <a href="#">BLOGS</a>
                </li>
                <li>
                    <a href="#">My Favorite</a>
                </li>
            </ul>
        </nav>
        <div> --> -->
    </header>

    <main>
        <section>
            <img src="" alt="">
        </section>

        <section class="Popular-container">
            <h2 class="Popular-title">Popular Books</h2>
            <div >
            <div class="Popular-box">
                <img src="static/img/self-help/dopamine.png" alt="" width="400px" height="400px">
            </div>
            <div class="Popular-box">
                <img src="static/img/self-help/letThem.png" alt="" width="400px" height="400px">
            </div>
            <div class="Popular-box">
                <img src="static/img/self-help/mythOfNormal.png" alt="" width="400px" height="400px">
            </div>
            <div class="Popular-box">
                <img src="static/img/self-help/whenTheBodySayNo.png" alt="" width="400px" height="400px">
            </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>